.container {
  width: 80vw;
  height: fit-content;
  background-color: black;
  margin: auto;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 15px;
}

.heading {
  color: white;
  margin: 10px 0 15px;
}

.container1 {
  display: flex;
  width: 100%;
  align-items: center;
}

.input_field {
  width: 50%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 10px 5px 0;
}

.btn_container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 15px;
  width: 15%;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 4px;
  font-weight: bold;
  display: block;
  outline: none;
}

.item2:hover {
  background-color: black;
  border-color: white;
  color: white;
}
