.card_container {
  width: 150px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  margin: 20px;
}

.card_container:hover {
  border: 2px solid rgb(171, 165, 165);
}

.thumbnail {
  width: 90%;
  height: 100px;
  margin: 5px;
  color: white;
  cursor: pointer;
  /* border: 1px solid cyan; */
}

.card_heading {
  color: white;
}

.cont2 {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.del_btn {
  color: white;
  background-color: black;
  font-size: 1.1rem;
  cursor: pointer;
}

.del_btn:hover {
  color: rgb(207, 51, 51);
}
