.nav_container {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_name {
  margin-left: 40px;
}
.search_box {
  margin-right: 40px;
  border-radius: 20px;
  height: 25px;
  padding-left: 10px;
}
