.container{
    width: 80vw;
    height: 13vh;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    padding: 10px 20px;
    /* border: 1px solid red; */
    border-radius: 15px;
    /* z-index: ; */
}

.heading{
    color: white;
    margin: 10px 0 15px;
}

.container1{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}

.item1{
    /* flex-grow: 1; */
    width: 70%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: red; */
}

.item2{
    /* flex-grow: 1; */
    margin-left: 30px;
    width: 15%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

.item2:hover{
    background-color: black;
    border-color: white;
    color: white;

}
